autopep8==1.4.4
google==2.0.2
nltk==3.4.5
numpy==1.16.4
pandas==0.24.2
playsound==1.2.2
praw==6.4.0
prawcore==1.0.1
notify2==0.3.1
requests==2.21.0
scikit-learn==0.20.3
serial==0.0.97
urllib3==1.24.3
